<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" 
    android:versionName="1.0" 
    package="com.check.client"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application 
        android:name="com.check.v3.CloudCheckApplication"
        android:label="@string/app_name" 
        android:icon="@drawable/app_icon"
        android:theme="@style/AppTheme" 
        android:debuggable="true" 
        android:allowBackup="true">"
		<activity 
		    android:theme="@android:style/Theme.NoTitleBar" 
		    android:name="com.check.v3.ui.login.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.NoTitleBar" android:name="com.check.v3.ui.login.LoginActivity" android:screenOrientation="portrait" />
        <activity android:name="com.check.v3.ui.main.MainActivity" android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.check.v3.register.RegisterActivity" />
        <activity android:name="com.check.v3.register.RegisterConfirmActivity" />
        <activity android:name="com.check.v3.ui.dialog.QuickCheckComposeActivity_old" android:windowSoftInputMode="stateHidden" 
            android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation|screenSize"> </activity>
        <activity android:name="com.check.v3.ui.quickreport.QuickCheckComposeActivity" android:windowSoftInputMode="stateHidden" 
            android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation|screenSize"> </activity>
        <activity android:name="com.check.v3.ui.main.SubActivityy" />
    </application>
</manifest>

